@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0px 1rem;
}
.logo {
  width: 7rem;
  height: auto;
}
.nav-list > ul {
  list-style: none;
  display: flex;
}
.nav-link {
  padding: 0.5rem;
  font-size: 1.1rem;
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
.login-btn {
  padding: 0.1rem 1rem;
  border: 1px solid rgb(247, 199, 141);
  background-color: bisque;
  cursor: pointer;
}
.filter {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  /* margin: 0px 4.5rem; */
}

.filter > button {
  padding: 0 1rem;
}

.search {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.search > input {
  padding: 0.5rem;
  margin: 0 10px;
}

.search > p {
  font-size: 1rem;
}

.res-container {
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.res-card {
  width: 15rem;
  margin: 10px;
  padding: 0.5rem;
  background-color: #f0f0f0;
}
.res-card > h3 {
  margin: 10px 0px;
  font-size: 1.5rem;
}
.res-card > p {
  margin: 10px 0px;
}
.res-card:hover {
  border: 1px solid black;
}
.res-img-container {
  width: 100%;
  height: 10rem;
  background: #000;
}
.res-card-offer {
  position: relative;
  /* width: 18rem; */
  /* background-color: red; */
  display: flex;
  .offer {
    position: absolute;
    background-color: rgba(59, 57, 57, 0.786);
    color: white;
    padding: 0.5rem;
    font-size: 1.25rem;
    width: 14rem;
    top: 8.75rem;
    left: 1.1rem;
  }
}
.res-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* shimmer ui */

.simmer-container {
  margin-top: 2.5rem;
  padding: 0rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.shimmer-card {
  width: 15rem;
  height: 17rem;
  margin: 10px;
}

.shimmer-box {
  width: 100%;
  height: 75%;
  margin-bottom: 10px;
  border-radius: 1rem;
  background-color: #8f8c8ca9;
}

.shimmer-text-1 {
  width: 100%;
  height: 1.25rem;
  border-radius: 10px;
  background-color: #8f8c8ca9;
  margin-bottom: 10px;
}
.shimmer-text-2 {
  width: 80%;
  height: 1.25rem;
  border-radius: 10px;
  background-color: #8f8c8ca9;
}
